.container{
	width: 1170px;
	height: auto;
	margin: 0 auto;
}
.container .header{
	width: 1170px;
	height: 200px;
	background-color: #f08080;
}
.container .contentrow{
	width: 1170px;
	height: auto;
}
.container .contentrow .content1{
	width: 670px;
	height: 200;
	background-color: #000;
	float: left;
}
.container .contentrow .content2{
	width: 200px;
	height: 200;
	background-color: #eee;
	float: left;
}
.container .contentrow .content3{
	width: 300px;
	height: 200;
	background-color: #e0e0e0;
	float: left;
}
.container .contentrow1{
	width: 1170px;
	height: auto;
}
.container .contentrow1 .content4{
	width: 500px;
	height: 200;
	background-color: #eee;
	float: left;
}
.container .contentrow1 .content5{
	width: 670px;
	height: 200;
	background-color: #000;
	float: left;
}